.container {
	display: inline-flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	margin: 1rem;
}

.card {
	width: 17em;
	height: 22.5em;
	background: #fef6e4;
	transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
	clip-path: polygon(
		30px 0%,
		100% 0,
		100% calc(100% - 30px),
		calc(100% - 30px) 100%,
		0 100%,
		0% 30px
	);
	border-top-right-radius: 20px;
	border-bottom-left-radius: 20px;
}

.card:hover {
	transform: scale(1.1);
}

.card .cardImage {
	width: 10.8em;
	height: 8.8em;
	background: #fef6e4;
	border-radius: 15px;
	margin: auto;
	margin-top: 1vh;
}
.cardContent {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.card .cardText {
	font-weight: 400;
	color: #ff8906;
	display: block;
	text-align: center;
	font-size: 0.72em;
	margin-bottom: 1em;
}
.cardDiets {
	font-weight: 5000;
	color: #a7a9be;
	display: block;
	text-align: center;
	font-size: 1em;
}
.cardTitle {
	font-weight: 5000;
	color: black;
	display: block;
	text-align: center;
	font-size: 1.2em;
	margin-bottom: 1em;
}
.buttonCard {
	padding: 0.1em 0.25em;
	width: 13em;
	height: 4.2em;
	background-color: #e53170;
	border: 0.08em solid #fef6e4;
	border-radius: 0.3em;
	font-size: 12px;
}

.buttonCard .spanButtonCard {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	bottom: 0.4em;
	width: 8.25em;
	height: 2.5em;
	background-color: #212121;
	border-radius: 0.2em;
	font-size: 1.5em;
	color: #fef6e4;
	border: 0.08em solid #fef6e4;
	box-shadow: 0 0.4em 0.1em 0.019em #fef6e4;
}

.buttonCard .spanButtonCard:hover {
	transition: all 0.5s;
	transform: translate(0, 0.4em);
	box-shadow: 0 0 0 0 #fef6e4;
}

.buttonCard .spanButtonCard:not(hover) {
	transition: all 1s;
}
.buttonContainerCard {
	display: flex;
}
