.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
.titleText {
	font-size: 50px;
	font-weight: 500;
	color: #fef6e4;
	text-shadow: 0 0 5px #fef6e4, 0 0 5px #fef6e4, 0 0 5px #fef6e4;
}
.buttonContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 20vh;
}
.buttonHome {
	padding: 0.1em 0.25em;
	width: 13em;
	height: 4.2em;
	background-color: #212121;
	border: 0.08em solid #fef6e4;
	border-radius: 0.3em;
	font-size: 12px;
}

.buttonHome .spanButtonHome {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	bottom: 0.4em;
	width: 8.25em;
	height: 2.5em;
	background-color: #212121;
	border-radius: 0.2em;
	font-size: 1.5em;
	color: #fef6e4;
	border: 0.08em solid #fef6e4;
	box-shadow: 0 0.4em 0.1em 0.019em #fef6e4;
}

.buttonHome .spanButtonHome:hover {
	transition: all 0.5s;
	transform: translate(0, 0.4em);
	box-shadow: 0 0 0 0 #fef6e4;
}

.buttonHome .spanButtonHome:not(hover) {
	transition: all 1s;
}

.imageLP {
	display: flex;
	justify-content: center;
	width: 100%;
	height: 60%;
	object-fit: cover;
}
