.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
.titleText {
	font-size: 50px;
	font-weight: 500;
	color: #fef6e4;
	text-shadow: 0 0 5px #fef6e4, 0 0 5px #fef6e4, 0 0 5px #fef6e4;
}
.buttonContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 20vh;
}
.buttonHome {
	padding: 10px 20px;
	text-transform: uppercase;
	border-radius: 8px;
	font-size: 17px;
	font-weight: 500;
	color: #ffffff80;
	text-shadow: none;
	background: transparent;
	box-shadow: transparent;
	border: 1px solid #ffffff80;
	transition: 0.5s ease;
	user-select: none;
}

.buttonHome:hover,
:focus {
	color: #ffffff;
	background: #ff8906;
	border: 1px solid #ff8906;
	text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
	box-shadow: 0 0 5px #ff8906, 0 0 20px #ff8906, 0 0 50px #ff8906,
		0 0 100px #ff8906;
}
.imageLP {
	display: flex;
	justify-content: center;
	width: 100%;
	height: 60%;
	object-fit: cover;
}
